@using FluentValidation
@typeparam TModel

<EditForm OnValidSubmit="@OnSubmitHandler" EditContext="_editContext" id="@_formId">
    @if (Validator != null)
    {
        <ItreeFluentValidationValidator Validator="Validator" DisableAssemblyScanning="true" StrictMode="@ValidationStrictMode" />
    }
    <div class="itree-form-container">
        <ValidationSummary/>

        @if (!AutoGenerate)
        {
            @ChildContent

            @if (!ExcludeFormButtons)
            {
                <ButtonGroup Position="EnumButtonGroupPosition.Rechts">
                    @if (Writeable)
                    {
                        <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary"
                                   StartIcon="@Icons.Material.Filled.Save" Disabled="@(!_hasChanges)">Speichern</MudButton>
                    }
                    <MudButton ButtonType="ButtonType.Button" Variant="Variant.Outlined"
                               StartIcon="@Icons.Material.Filled.Cancel" OnClick="@Close">Abbrechen</MudButton>
                </ButtonGroup>
            }
        }
        else
        {
            if (PropertyList != null)
            {
                if (ChildContent != null)
                {
                    @ChildContent
                }

                foreach (var property in PropertyList)
                {
                    var labelText = $"{BaseExtension.FirstCharSubstring(property.DisplayName)}";
                    if (property.DropdownName != null)
                        labelText = property.DropdownName;

                    <ItreeFormData LabelFieldId="@property.EditorId" LabelText="@labelText" Show="true">
                        @{
                            @if (Writeable)
                            {
                                @property.EditorTemplate
                                @property.FieldValidationTemplate
                            }
                            else
                            {
                                if (property.Value?.ToString()?.ToLower() == "true")
                                {
                                    <MudIcon Icon="@Icons.Material.Filled.Check" Color="Color.Success" />
                                }
                                else if (property.Value?.ToString()?.ToLower() == "false")
                                {
                                    <MudIcon Icon="@Icons.Material.Filled.Close" Color="Color.Error" />
                                }
                                else
                                {
                                    if (property.Value != null && property.DropdownData != null)
                                    {
                                        var guidString = property.Value!.ToString();
                                        var guid = Guid.Parse(guidString!);
                                        var dropdownItem = property.DropdownData.SingleOrDefault(d => d.Value == guid);

                                        @if (dropdownItem != null)
                                        {
                                            @dropdownItem.Text
                                        }
                                        else
                                        {
                                            @guid
                                        }
                                    }
                                    else
                                    {
                                        @property.Value
                                    }
                                }
                            }
                        }
                    </ItreeFormData>
                }

                @if (!ExcludeFormButtons)
                {
                    <ButtonGroup Position="EnumButtonGroupPosition.Rechts">
                        @if (Writeable)
                        {
                            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary"
                                       StartIcon="@Icons.Material.Filled.Save" Disabled="@(!_hasChanges)">Speichern</MudButton>
                        }
                        <MudButton ButtonType="ButtonType.Button" Variant="Variant.Outlined"
                                   StartIcon="@Icons.Material.Filled.Cancel" OnClick="@Close">Abbrechen</MudButton>
                    </ButtonGroup>
                }
            }
        }
    </div>
</EditForm>

@code {
    [Parameter] public TModel? Model { get; set; }
    [Parameter] public IValidator? Validator { get; set; }
    [Parameter] public EventCallback<EditContext> OnSave { get; set; }
    [Parameter] public EventCallback<bool> OnClose { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public bool AutoGenerate { get; set; }
    [Parameter] public bool WithBaseProperties { get; set; }
    [Parameter] public string? IgnorePropertyList { get; set; }
    [Parameter] public bool Writeable { get; set; }
    [Parameter] public List<ItreeFormDropdown>? DropdownList { get; set; }
    [Parameter] public List<ItreeFormPropertyType>? CustomTypes { get; set; }
    [Parameter] public string? IgnorePropertyCheckingList { get; set; }
    [Parameter] public bool? CustomHasChanges { get; set; }
    [Parameter] public EventCallback CustomHasChangesChanged { get; set; }
    [Parameter] public bool ExcludeFormButtons { get; set; }
    [Parameter] public bool ValidationStrictMode { get; set; } = true;

    public TModel? OriginalModel { get; set; }
    private List<ItreeFormProperty<TModel>>? PropertyList { get; set; }
    private bool _hasChanges;
    private string? _formId;
    private EditContext? _editContext;

    protected override void OnInitialized()
    {
        if (Model == null) throw new InvalidOperationException("ItreeForm requires a model.");
        if (Validator == null) throw new InvalidOperationException("ItreeForm requires a Validator.");

        _editContext = new EditContext(Model);
        _editContext.OnFieldChanged += OnFieldChanged!;
        _formId = $"form_{Model.GetType().Name}".ToLower();

        OriginalModel = Model.Clone();
        HasChanges();
        base.OnInitialized();
    }

    protected override void OnParametersSet()
    {
        if (!WithBaseProperties)
        {
            IgnorePropertyList = string.IsNullOrEmpty(IgnorePropertyList) ? "Id" : IgnorePropertyList + ",Id";
        }

        if (AutoGenerate)
        {
            PropertyList = Model == null ? null : ItreeFormProperty<TModel>.Create(this, IgnorePropertyList, DropdownList, CustomTypes);
        }

        if (PropertyList == null) return;

        if (CustomHasChanges != null) _hasChanges = (bool)CustomHasChanges;

        StateHasChanged();
        base.OnParametersSet();
    }

    private void OnFieldChanged(object sender, FieldChangedEventArgs e) => HasChanges();

    public void HasChanges()
    {
        if (OriginalModel == null) _hasChanges = false;
        if (Model == null) _hasChanges = false;

        if (CustomHasChanges != null)
        {
            CustomHasChangesChanged.InvokeAsync();
            _hasChanges = (bool)CustomHasChanges;
        }
        else
        {
            _hasChanges = !BaseExtension.IsEqual(OriginalModel, Model, IgnorePropertyCheckingList);
        }
        StateHasChanged();
    }

    public async Task OnSubmitHandler() => await OnSave.InvokeAsync();

    public async Task Close() => await OnClose.InvokeAsync(_hasChanges);
}
